<h1>Listing contents</h1>

<%= form_tag(:contents, :method => :get) do %>
<p><%= text_field_tag :q, @q %><%= submit_tag 'search' %></p>
<% end %>

<table>
  <tr>
    <th>Book</th>
    <th>Content</th>
  </tr>

<% @contents.each do |content| %>
  <tr>
    <td><%= link_to content.book.title, book_path(content.book, format: 'epub') %></td>
    <td><%= content.content %></td>
  </tr>
<% end %>
</table>

<br />
